[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geopandas = "*"
rtree = "*"
feather-format = "*"
requests = "*"
geofeather = "*"

[dev-packages]
pylint = "*"
black = "==19.3b0"
pytest = "*"
pytest-cov = "*"
pytest-benchmark = "*"

[requires]
python_version = "3.7"
